input {
  &.form-control {
    border: none !important;
    border-radius: 0.625rem !important;

    color: $gray-800;

    &:focus {
      box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
    }
    &.gray-bg {
      background-color: $gray-90 !important;
    }

    // Disabled and read-only inputs
    //
    // HTML5 says that controls under a fieldset > legend:first-child won't be
    // disabled if the fieldset is disabled. Due to implementation difficulty, we
    // don't honor that edge case; we style them as disabled anyway.
    &:disabled,
    &[readonly] {
      background-color: $gray-300;
      // iOS fix for unreadable disabled content; see https://github.com/twbs/bootstrap/issues/11655.
      opacity: 1;
    }
  }
}

  ::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: $gray-600 !important;
    opacity: 1; /* Firefox */
  }

  :-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: $gray-600 !important;
  }

  ::-ms-input-placeholder {
    /* Microsoft Edge */
    color: $gray-600 !important;
  }
