<div class="d-flex flex-row justify-content-center">
  <div class="col-12 d-flex justify-content-center">
    <h2>Desafio Slingr Expresiones</h2>
  </div>
</div>
<div class="d-flex flex-row justify-content-center mt-5" [formGroup]="form">
  <div class="col-6 d-flex justify-content-center">
    <atom-input
      labelText="Expresion con metodo POST"
      placeholder="Ingrese una expresion matematica"
      type="text"
      formControlName="expresion"
      [disabled]="isLoading == 'POST'"
    ></atom-input>
  </div>
  <div class="col-6 d-flex justify-content-center">
    <atom-input
      labelText="Expresion con metodo GET"
      placeholder="Ingrese una expresion matematica"
      type="text"
      formControlName="expresion2"
      [disabled]="isLoading == 'GET'"
    ></atom-input>
  </div>
</div>
<div class="d-flex flex-row">
  <div class="col-6 d-flex justify-content-center mt-5">
    <p *ngIf="resultado.resultadoPost">
      Resultado obtenido: {{ resultado.resultadoPost }}
    </p>
  </div>
  <div class="col-6 d-flex justify-content-center mt-5">
    <p *ngIf="resultado.resultadoGet">
      Resultado obtenido: {{ resultado.resultadoGet }}
    </p>
  </div>
</div>
<div class="d-flex flex-row">
  <div class="col-6 d-flex justify-content-center mt-5">
    <atom-button
      [disabled]="expresion?.invalid"
      [outline]="true"
      (click)="calcular(true)"
      [status]="isLoading == 'POST' ? 'loading' : ''"
    >
      Calcular peticionando con POST <i class="ri-calculator-line ms-1"></i
    ></atom-button>
  </div>
  <div class="col-6 d-flex justify-content-center mt-5">
    <atom-button
      [disabled]="expresion2?.invalid"
      [outline]="true"
      (click)="calcular(false)"
      [status]="isLoading == 'GET' ? 'loading' : ''"
      >Calcular peticionando con GET <i class="ri-calculator-line ms-1"></i
    ></atom-button>
  </div>
</div>
