.shadow{
  border-radius: 50px;
background: #ffffff;
box-shadow:  26px 26px 53px #d9d9d9,
             -26px -26px 53px #ffffff;
}
.shadowCalculator{
  border-radius: 0px;
  background: #ffffff;
  box-shadow:  11px 11px 23px #9c9c9c,
               -11px -11px 23px #ffffff;
}
